language: node_js
node_js:
  - lts/*
install:
  - npm install
before_deploy:
  - pip install awscli --upgrade --user
  - npm install -g travis-ci-cloudfront-invalidation
  - npm run build
deploy:
  provider: s3
  access_key_id: $AWS_ACCESS_KEY_ID
  secret_access_key: $AWS_SECRET_ACCESS_KEY
  bucket: $S3_BUCKET_NAME
  region: ca-central-1
  skip_cleanup: true
  local-dir: public
  on:
    branch: master
after_deploy:
  - chmod +x ./deploy-scripts/after_deploy.sh
  - ./deploy-scripts/after_deploy.sh
